@import "././src/assets/scss/mixins&vars";

#fitbase-widget {
  &.touch {
	.branch_filter {
	  margin: 0 16px 22px 16px;
	}
  }

  .branch_filter {
	.slider_wrapper_mobile {
	  display: flex;
	  overflow-x: scroll;

	  .branch_filter_roll_item {
		margin-right: 14px;
	  }

	  .scroll_area {
		display: flex;
		width: 100%;

		.branch_filter_roll_item {
		  &_wrapper {
			margin-right: 14px;
		  }
		}
	  }
	}
  }
}
