@import "mixins&vars";

#fitbase-widget {
  .slider_wrapper{
	::-webkit-scrollbar {
	  width: 0;
	  background: transparent;
	}
	-ms-overflow-style: none;
	scrollbar-width: none;
	overflow: -moz-scrollbars-none;

	::-webkit-scrollbar {
	  width: 0;
	  background: transparent;
	}

	scrollbar-color: transparent transparent;
	@-moz-document url-prefix() {
	  scrollbar-width: none;
	}
  }

  font-family: SF Pro Display, Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 14px;
  background-color: $bgLight;


  .icons_sprites{
	height: 0;
	width: 0;
	opacity: 0;
  }

  .close_btn{
	cursor: pointer;
  }

  &.touch {
	.wrapper {
	  width: 100%;
	}
	.filter_wrapper {
	  display: flex;
	  flex-direction: column;
	  //height: calc(100vh - 80px);
	  //overflow-y: scroll;
	  margin: 0 20px 20px 24px;
	}
  }

  &.desktop {
	max-width: 1320px;
	padding: 30px 0;
	margin: 0 auto;

	.wrapper {
	  max-width: 1320px;
	  margin: 0 10px;
	}
  }

  &.desktop_sm {
	min-width: 1110px;

	.wrapper {
	  min-width: 1110px;
	  margin: 0;
	}
  }

  div {
	color: $black;
  }

  &.dark {
	background-color: $bgDark;

	div {
	  color: $white;
	}
  }

  .wrapper {
	margin: 0 auto;
	position: relative;
  }

  .linethrough {
	text-decoration: line-through
  }

  .hide {
	opacity: 0;
  }

  #mobile_app {
	&.screen_fixed {
	  height: 100vh;
	  overflow: hidden;
	}
  }
}

#fitbase-widget, #mobile_app, #desktop_app {
  min-height: 100%;
}
