@import "../../../../mixins&vars";
@import "circleIcon";
@import "filtersMenuItem";

.filters_menu {
  margin-left: 24px;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 54px);
  overflow-x: hidden;

  &_top {
	padding-bottom: 24px;
  }

  &_bottom {
	height: 100%;
  }

  .resetAllFiltersBtn {
	text-align: left;
	margin-top: 50px;
  }

  .circle_icon {
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background-color: $blue;
  }
}
