@import "../mixins&vars";

#fitbase-widget {
  &.touch {
	.modal {
	  &_wrapper {
		overflow-y: scroll;
		padding: 20px 24px;
		width: calc(100vw - 80px);
		max-width: 600px;
		margin-bottom: 15px;
		z-index: 2147483647;

		.event {
		  &_icons {
			margin-bottom: 16px;
			padding-top: 16px;

			.icon_description {
			  color: $grayMainLight;
			  font-weight: 400;
			}
		  }

		  &_trainer {
			&_avatar {
			  width: 60px;
			  height: 60px;
			}
		  }
		}

		.close_btn {
		  top: 13px;
		  right: 16px;
		}
	  }

	  &_header {
		.event {
		  &_title {
			margin-bottom: 10px;
		  }

		  &_place {
			font-size: 20px;
			line-height: 20px;
			margin-right: auto;
		  }
		}
	  }

	  &_footer {
		.event {
		  &_caption {
			margin-bottom: 10px;
		  }
		}
	  }
	}

	&.mob {
	  &:not(.mob_m) {
		.modal {
		  &_wrapper {
			.event {
			  &_trainer {
				&_avatar {
				  width: 40px;
				  height: 40px;
				}

				&_name {
				  font-size: 15px;
				  max-width: 172px;
				}
			  }
			}
		  }

		  &_body {
			&_top {
			  margin-bottom: 0;
			}
		  }
		}
	  }
	}
  }

  &.desktop {
	.modal {
	  &_wrapper {
		transform: translate(-50%, -50%);
		top: 50%;
		width: 1096px;
		box-sizing: border-box;
		min-height: 407px;
		padding: 70px 111px 50px;

		.event {
		  &_icons {
			margin-top: -16px;
		  }
		}

		.close_btn {
		  top: 41px;
		  right: 38px;
		  cursor: pointer;
		}
	  }

	  &_header {
		display: flex;
		align-items: baseline;
		margin-bottom: 30px;

		.event {
		  &_title {
			font-size: 24px;
			width: 295px;
		  }
		}
	  }

	  &_body {
		&_top {
		  display: flex;
		  align-items: center;
		  padding: 21px 0;
		}
	  }
	}
  }

  &.dark {
	.modal {
	  &_wrapper {
		background-color: $calendarInnerBgDark;

		div {
		  color: $white;
		}

		.event_description_caption {
		  color: $grayMainLight;
		}

		.event_description_content {
		  color: $white;
		}

		.duration {
		  color: $grayAdditionalLight;
		}

		.registration_form {
		  background-color: $cardBgDark;

		  input {
			background-color: $calendarInnerBgDark;
			color: $grayAdditionalLight;
		  }

		  .btn {
			background-color: $blue;
		  }

		  .btn[disabled] {
			background-color: $disabledBlue;
		  }

		  .event_trainer_replacement {
			color: $grayMainLight;
		  }
		}

		.close_btn {
		  path {
			fill: $white;
		  }
		}
	  }

	  &_body {
		&_top {
		  border-color: $modalHrDark;
		}
	  }
	}

  }

  .modal {
	&_wrapper {
	  transform: translate(-50%, 0);
	  position: relative;
	  top: 16px;
	  left: 50%;
	  z-index: 6;
	  background-color: $white;
	  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.05);
	  border-radius: 6px;

	  .close_btn {
		position: absolute;
	  }
	}

	&_header {
	  margin-bottom: 20px;
	  text-align: left;

	  .event {
		&_title {
		  font-weight: 500;
		  line-height: 22px;
		  font-size: 17px;
		}

		&_place {
		  font-weight: 500;
		  font-size: 15px;
		  line-height: 15px;
		  color: $grayMainLight;
		}
	  }
	}

	&_body {
	  &_top {
		border-top: 1px solid $gray;
		border-bottom: 1px solid $gray;
		margin-bottom: 30px;
	  }
	}

	&_footer {
	  .event {
		&_description {
		  margin-top: 30px;
		  font-weight: 400;
		  font-size: 15px;
		  line-height: 22px;

		  &_caption {
			color: $grayMainLight;
		  }
		}
	  }
	}
  }

  .modal-enter-active {
	transition: all .3s ease;
  }

  .modal-leave-active {
	transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
  }

  .modal-enter, .modal-leave-to {
	transform: translate(-50%, -100%);
	opacity: 0;
  }

  .error_msg {
	color: $fuchsia;
  }
}
