@import "../../../../mixins&vars";

#fitbase-widget {
  &.dark {
	.date_traveller {
	  background: $calendarInnerBgDark;

	  &_btn {
		  path {
			fill: $white
		}
	  }

	  .day_item {
		color: $white;
	  }
	}
  }

  .date_traveller {
	width: 100%;
	height: 52px;
	background-color: $white;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;

	&_btn {
	  position: absolute;
	  padding: 10px;
	  cursor: pointer;
	  &.hidden {
		display: none;
	  }

	  &_prev {
		left: 10px;
	  }

	  &_next {
		right: 10px;
	  }
	}

	.day_item {
	  font-weight: 500;
	  font-size: 15px;
	}
  }
}
