@import "../../mixins&vars";

#fitbase-widget {
  &.touch {
	.event {
	  &_trainer {
		margin-bottom: 30px;

		&_right {
		  &_top {
			display: flex;
			font-size: 19px;
			line-height: 17px;
		  }
		}
	  }
	}

	&.mob {
	  .event {
		&_trainer {
		  &_name, &_surname {
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			max-width: 194px;
			font-size: 15px;
			font-weight: 500;
		  }
		}
	  }

	  &:not(.mob_m) {
		.event {
		  &_trainer {
			margin-bottom: 10px;
			&_name, &_surname {
			  font-size: 14px;
			  max-width: 139px;
			}
		  }
		}
	  }
	}
  }

  &.desktop {
	.event {
	  &_trainer {
		&_surname {
		  margin-bottom: 9px;
		}
		&_avatar {
		  width: 70px;
		  height: 70px;
		  margin-right: 16px;
		}

		&_right {
		  &_top {
			font-size: 24px;
			line-height: 17px;
			width: 210px;
		  }
		}
	  }
	}
  }

  .event {
	&_trainer {
	  display: flex;
	  align-items: center;

	  &_surname {
		margin-right: 4px;
	  }

	  &_avatar {
		width: 32px;
		height: 32px;
		margin-right: 8px;

		img {
		  width: 100%;
		  height: 100%;
		  border-radius: 50%;
		}
	  }

	  &_right {
		&_top {
		  text-align: left;
		  font-weight: 500;
		}

		@media all and (max-width: 350px) {
		  &_top {
			flex-direction: column;
		  }
		}
	  }

	  &_replacement {
		font-weight: 400;
		font-size: 13px;
		line-height: 18px;
		color: $grayMainLight;
	  }
	}
  }
}
